---
import { getCollection, render } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const lists = await getCollection('lists');
  return lists.map(list => ({
    params: { id: list.id },
    props: { list },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { list } = Astro.props;
var metadata = list.data.data
var listdata = list.data.list

import Base from '../layouts/base.astro';
import Table from '../components/table.astro';

var data = {
    ...metadata,
	image: listdata[0].members[0].img,
	description: `${metadata.title} including ${listdata.map((list) => (list.header))?.join(", ")}`
};
---

<Base data={data}>
	<h2>Index</h2>
	<ul>
		{ listdata.map((item, idx) => (
			<li>
				<a href=`#item-${idx}`>
				{ item.header }
				</a>
			</li>
		))}
	</ul>

	{ listdata.map((item, idx) => (
		<div id=`item-${idx}`>
			<h2 class="center">List of <a href={item.src} target="_blank">{ item.header }</a> with Images</h2>
			<Table data={item.members}>

			</Table>
		</div>
		
	))}
</Base>