---
import Base from '../layouts/base.astro';
import Table from '../components/table.astro';
import corvids from '../data/corvids.json';

var data = {
	title: "List of Corvid Species with Images (WIP)",
	image: corvids[0].members[0].img,
	cardcolor: "#fff"
};
---
<Base data={data}>

	<h2>Index</h2>
	<ul>
		{ corvids.map((corvid, idx) => (
			<li>
				<a href=`#corvid-${idx}`>
				{ corvid.genus }
				</a>
			</li>
		))}
	</ul>

	{ corvids.map((corvid, idx) => (
		<div id=`corvid-${idx}`>
			<a class="center" href={corvid.src} target="_blank"><h2>{ corvid.genus }</h2></a>
			<Table data={corvid.members}>

			</Table>
		</div>
		
	))}
</Base>

		

