---
const {data} = Astro.props;
---
<!-- 
<table>
    { data.map(item => (
        <tr>
            <td>
                <a href={item.img} target="_blank">
                    <img src={item.img} />
                </a>
            </td>
            <td>
                <a href={item.src} target="_blank">
                    {item.name}
                </a>
            </td>
        </tr>
    )) }
</table>
-->

<wrapper>
    { data.map(item => (
        <div>
            <a href={item.img} target="_blank">
                <img src={item.img}/>
            </a>
            <a href={item.src} target="_blank">
                {item.name}
            </a>
        </div>
    )) }
</wrapper>